
body {
    padding-top: 105px;
}

.main-content {
    margin: 0 30px 30px 30px;
}

.main-content p {
    font-size: 16px;

}

.contact-form {
    border-color: black;
}

.contact-icons {
    text-align: center;
    margin: auto;
}

form {
    padding-top: 30px;
}

.section-description {
    text-align: center;
    margin-top: 30px;
}

textarea.md-textarea {
    height: 7rem;
}

.nav-link {
    color: saddlebrown;
    font-size: 20px;
    padding-right: 20px;
}

a {
    color: black;
}

section {
    height: 78vh;
    padding-top: 90px;
}

.navbar-brand {
    padding-left: 20px;
    background-color: #f8f9f9;
}

input {
    background-color: transparent !important;
    border: darkgray;
}

.content-section {
    padding-top: 115px;
    margin-top: -115px;
}

.ui-datepicker {
    background: #fff;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
}

.ui-datepicker table {
    width: 200px;
}

.ui-datepicker table td {
    text-align: center;
}

.ui-datepicker a {
    cursor: pointer;
    text-decoration: none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
    float: right;
}

.ui-datepicker-title {
    text-align: center;
    font-weight: bold;
}

.ui-state-highlight {
    background-color: saddlebrown;
    border: 1px solid brown;
    padding: 5px;
    border-radius: 25%;
}

#datepicker {
    border: 1px solid white;
]
}

.welcome {
    padding: 100px;
    color: white;
    width: 100%;
    position: absolute;
    animation: floatText 3s ease-in-out forwards;
}

@-webkit-keyframes floatText {
    from {
        top: 00%;
    }

    to {
        /* left: auto; */
        top: 250px;
    }
}

.details {
    width: 70%;
    margin: 20px auto 20px auto;
}

.room:hover {
    opacity: 0.5;
}

.room:hover .bottom-left {
    margin-top: -20px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 30px;
    width: 85%;
    color: white;
}

hr {
    background-color: saddlebrown;
}